body{
	margin: 0;
	background-image: url("../town.png");
	background-size: cover;
}
#game-content{
	display: flex;
	height: 90%;
}
#text-editor{
	height: 100%;
	flex-grow: 1;
	border-style: solid;
	color: white;
	border-color: #002;
	background-color: #000;
}
.workers{
	width: 300px;
	border-style: solid;
	border-width: 0.5px;
}
.text{
	border-style:solid;
	border-width: 0.5px;
	flex-grow: 1;
}
#text-lines{
	height: 100%;
	width: 100%;
	background-color: #333;
	color: white;
	font-size: 16px;
}
.text-editor-style{
	display: flex;
	height: 90%;
}